{# Page is rendered if the user is not logged in and visits / #}

{% extends "base_form.html" %}

{% block form_title %}
<h5>Welcome</h5>
{% endblock %}

{% block form_content %}
This block is supposed to contain all the diary entries

If authenticated, it will show your entries only
If unauthenticated, it will only show the public entries

How to code that, is a nightmare in itself
{% endblock %}

{% block additional_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/auth.js') }}"></script>
{% endblock %}
