{% extends "base_form.html" %}

{% block form_title %}
<h5>Login</h5>
{% endblock %}

{% block form_content %}
<form id="login-form" name="login-form" method="post" action="/users/authenticate" novalidate="novalidate" class="col s12">
  <div class="row">
    <div class="input-field col s6">
      <input  id="username" type="text" class="validate">
      <label for="username">Username</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input id="password" type="password" class="validate">
      <label for="password">Password</label>
    </div>
  </div>
  <div class="row">
    <button id="submit" class="btn waves-effect waves-light left-align" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
  </div>
</form>
{% endblock %}

{% block additional_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/login_form.js') }}"></script>
{% endblock %}
