{% extends "base_form.html" %}

{% block form_title %}
<h5>Register</h5>
{% endblock %}

{% block form_content %}
<form id="register-form" name="register-form" method="post" action="/users/register" novalidate="novalidate" class="col s12">
  <div class="row">
    <div class="input-field col s6">
      <input  id="username" type="text" class="validate">
      <label for="username">Username</label>
    </div>
    <div class="input-field col s6">
      <input id="password" type="password" class="validate">
      <label for="password">Password</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input id="fullname" type="text" class="validate">
      <label for="fullname">Full Name</label>
    </div>
    <div class="input-field col s6">
      <input id="age" type="text" class="validate">
      <label for="age">Age</label>
    </div>
  </div>
  <div class="row">
    <button id="submit" class="btn waves-effect waves-light left-align" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
  </div>
</form>
{% endblock %}

{% block additional_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.form_4.2.2_jquery.form.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-validate_1.17.0_additional-methods.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-validate_1.17.0_jquery.validate.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/register_form.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/auth.js') }}"></script>
{% endblock %}
